{% extends 'base.html' %}

{% block title %} My Listings {% endblock %}

{% block menu %}
<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
    <a class="nav-link" href="/listings">View Your Listings</a>
</li>
<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
    <a class="nav-link" href="/add_listing">Add Listing</a>
</li>
<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
    <a class="nav-link" href="/delete_listing">Delete Listing</a>
</li>
<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>Welcome, {{ name }}</b></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/account">Account Settings</a>
        <a class="dropdown-item" href="#">Contact Support</a>
        <a class="dropdown-item" href="/">Logout</a>
    </div>
</li>
{% endblock %}

{% block content %}
<div class="mx-auto">
    <table id="listings" class="table table-hover paginated" data-pagination="true" data-page-size="15" width="100%" style="margin: 2em auto;">
        <caption>Active Listings</caption>
        <thead>
            <tr>
                <th>Listing ID</th>
                <th>Category</th>
                <th>Product Name</th>
                <th>Auction Title</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Max Bids</th>
                <th>Reserve Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in active %}
            <tr class='clickable-row'>
                <td class="nr">{{ listing["listing_id"] }}</td>
                <td>{{ listing["category"] }}</td>
                <td>{{ listing["product_name"] }}</td>
                <td>{{ listing["auction_title"] }}</td>
                <td>{{ listing["product_description"] }}</td>
                <td>{{ listing["quantity"] }}</td>
                <td>{{ listing["max_bids"] }}</td>
                <td>{{ listing["reserve_price"] }}</td>
                <td>{{ listing["status"] }}</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table id="listings" class="table table-hover paginated" data-pagination="true" data-page-size="15" width="100%" style="margin: 2em auto;">
        <caption>Inactive Listings</caption>
        <thead>
            <tr>
                <th>Listing ID</th>
                <th>Category</th>
                <th>Product Name</th>
                <th>Auction Title</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Max Bids</th>
                <th>Reserve Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in inactive %}
            <tr class='clickable-row'>
                <td class="nr">{{ listing["listing_id"] }}</td>
                <td>{{ listing["category"] }}</td>
                <td>{{ listing["product_name"] }}</td>
                <td>{{ listing["auction_title"] }}</td>
                <td>{{ listing["product_description"] }}</td>
                <td>{{ listing["quantity"] }}</td>
                <td>{{ listing["max_bids"] }}</td>
                <td>{{ listing["reserve_price"] }}</td>
                <td>{{ listing["status"] }}</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table id="listings" class="table table-hover paginated" data-pagination="true" data-page-size="15" width="100%" style="margin: 2em auto;">
        <caption>Sold Listings</caption>
        <thead>
            <tr>
                <th>Listing ID</th>
                <th>Category</th>
                <th>Product Name</th>
                <th>Auction Title</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Max Bids</th>
                <th>Reserve Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in sold %}
            <tr>
                <td class="nr">{{ listing["listing_id"] }}</td>
                <td>{{ listing["category"] }}</td>
                <td>{{ listing["product_name"] }}</td>
                <td>{{ listing["auction_title"] }}</td>
                <td>{{ listing["product_description"] }}</td>
                <td>{{ listing["quantity"] }}</td>
                <td>{{ listing["max_bids"] }}</td>
                <td>{{ listing["reserve_price"] }}</td>
                <td>{{ listing["status"] }}</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script  src="{{ url_for('static', filename='../static/scripts/my_listings.js') }}"></script>
{% endblock %}